<!DOCTYPE html>
<lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <!-- newAlert JS -->
    <script src="static/js/newAlert.js"></script>
    <!-- newAlert CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/newAlert.css">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}" type="text/css" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">
</head>

<body>
    <video autoplay muted loop id="bg-video">
        <source src="{{ url_for('static', filename='video/gfp-astro-timelapse.mp4') }}" type="video/mp4">
    </video>

    <!-- Div to showup alert popups -->
    <div id="alertDIV" style="display: none">
      <div id="content">
        <span id="icon"></span>
        <span id="text"></span>
        <span id="close" onclick="closeAlert()"><i class="fas fa-times"></i></span>
      </div>
    </div>    

    <!-- main navigation bar buttons -->
    <div class="page-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="cd-slider-nav">
              <nav class="navbar navbar-expand-lg" id="tm-nav">
                <a class="navbar-brand" href="{{ url_for('index') }}">Stat-Flow</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-supported-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbar-supported-content">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                      <li class="nav-item {{ 'selected' if page == 'home' else '' }}">
                        <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
                        <div class="circle"></div>
                      </li>
                      <li class="nav-item {{ 'selected' if page == 'training' else '' }}">
                        <a class="nav-link" href="{{ url_for('training') }}">Training</a>
                        <div class="circle"></div>
                      </li>
                      <li class="nav-item {{ 'selected' if page == 'statistics' else '' }}">
                        <a class="nav-link" href="{{ url_for('statistics') }}">Statistics</a>
                        <div class="circle"></div>
                      </li>
                      <li class="nav-item {{ 'selected' if page == 'configure' else '' }}">
                        <a class="nav-link" href="{{ url_for('configure') }}">Configure</a>
                        <div class="circle"></div>
                      </li>
                    </ul>
                  </div>
              </nav>
            </div>
          </div>          
        </div>
    </div>
</body>