{% include 'includes/navbar.html' %}

<head>
    <meta http-equiv="refresh" content="60" >
</head>

  <div class="container-fluid tm-content-container">
    <ul class="cd-hero-slider mb-0 py-5">
      <li class="px-3" data-page-no="1">

          <div class="text-center position-relative tm-border-right tm-border-left
          tm-border-top tm-border-bottom transparent intro-container">

            <!--<div class="text-center">
              <button onclick="stopTraining()" class="btn btn-primary tm-intro-btn tm-page-link" type="button">Interrupt training</button>
            </div>-->
            {{ output }}<br>
            <div class="circle intro-circle-1"></div>
            <div class="circle intro-circle-2"></div>
            <div class="circle intro-circle-3"></div>
            <div class="circle intro-circle-4"></div>
            <img src="{{ trainloss('./darknet/output.log') }}" alt="Training status">
          </div>      

      </li>
    </ul>
  </div>
</div>

</body>

{% include 'includes/footer.html' %}

</html>